SQL/ORA121/DEV_ODI_REPO/TABLA_PRUEBA/01_CREA_I_TABLA_PRUEBA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/00_CAN_REDEF_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/01_CREA_I_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/02_START_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/04_SYNCHRONIZE_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/05_FINISH_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/06_ABORT_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/07_ROLLBACK_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/99_DROP_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/300_CREA_INDEX_I_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/303_REGISTER_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/SNP_LSCHEMA/309_COPY_SNP_LSCHEMA.sql
SQL/ORA121/DEV_ODI_REPO/TABLA_PRUEBA/01_CREA_I_TABLA_PRUEBA.sql
SQL/ORA121/DEV_ODI_REPO/TABLA_PRUEBA/02_START_TABLA_PRUEBA.sql
SQL/ORA121/DEV_ODI_REPO/TABLA_PRUEBA/300_CREA_INDEX_I_TABLA_PRUEBA.sql
